<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>971364260332-m7351sk946po0a3russqmchavackrf6g.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.971364260332-m7351sk946po0a3russqmchavackrf6g</string>
	<key>API_KEY</key>
	<string>AIzaSyAsA44H94NB2o75cc0bGljw5mqLb22n0Bg</string>
	<key>GCM_SENDER_ID</key>
	<string>971364260332</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.recipeApp</string>
	<key>PROJECT_ID</key>
	<string>recipe-app-6b66b</string>
	<key>STORAGE_BUCKET</key>
	<string>recipe-app-6b66b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:971364260332:ios:ea9a8c4e03129c59cbc8c9</string>
</dict>
</plist>